<p>
Confieselo.com informa a sus usuarios que su modelo de confesiones anonimas le impide almacenar cualquier informacion referente al usuario (excepto por el correo electronico que se utiliza para que el usuario pueda administrar su cuenta), ninguna informacion privada sera revelada bajo ninguna circustancia
Sobre las confesiones, estas no seran eliminadas a no ser que sean publicidad de otros sitios web, amenazar o mensajes terroristas, si contienen datos especificos de personas como correos electronicos, numeros de telefonos entre otros).
Confieselo.com profeje la privacidad de sus usuarios pero tambien la privacidad de las personas que integran las historias, por eso instamos a cada usuario a no revelar nombres reales ni informacion de contacto de ninguna persona que sea protagonista de las confesiones.
</p>