<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Aviso Legal</h4>
</div>
<div class="modal-body">
    <ol>
    <li><strong>Usos de Confieselo.com</strong>

      <p>El usuario utiliza los servicios proporcionados por Confieselo.com  bajo su entera responsabilidad, asumiendo que dichos servicios se suministran siempre que sea posible y sin garantía alguna (expresa o implícita).</p>

      <p>Confieselo.com no tiene obligación de y no controla la utilización que los usuarios hacen de las páginas, de los servicios y de los contenidos de las mismas. Tampoco que la utilización se haga conforme a las condiciones de uso generales establecidas para estas páginas, ni tampoco a las particulares que resulten de su aplicación, ni que lo hagan de forma prudente y diligente.</p>

      <p>Confieselo.com no será, en ningún caso, responsable, ni civil ni penalmente, ni principal ni subsidiariamente, por los daños y perjuicios de cualquier tipo derivados, directa o indirectamente, del incumplimiento de las obligaciones especificadas en las condiciones de uso generales establecidas.</p>

      <p>De igual modo, no garantiza ni se responsabiliza del uso de las páginas, de los servicios y de los contenidos de Confieselo.com, ni de la certeza de cualquier información obtenida a través de los mismos, ya que se realizan cambios periódicos de los sitios y de los servicios y, por tanto, de la información que contienen. Igualmente no garantiza la veracidad de los contenidos, ni la infalibilidad, ni la utilidad de las páginas y sus servicios.</p>
    </li>
    <li><strong>Seguridad</strong>

      <p>Confieselo.com no puede garantizar la invulnerabilidad absoluta de sus sistemas de seguridad, por lo que excluye cualquier tipo de responsabilidad por daños y perjuicios de toda naturaleza que puedan deberse a la presencia de virus u otros elementos que puedan producir alteraciones en el sistema informático (software y hardware), documentos electrónicos y ficheros del usuario o de cualquier tercero, incluyendo que se produzcan en los servicios prestados por terceros a través de las páginas de Confieselo.com.</p>

      <p>Confieselo.com no garantiza la privacidad y la seguridad de la utilización de las páginas de Confieselo.com y sus servicios, no siendo responsable de ningún contenido o conducta amenazadora, difamatoria, obscena, discriminatoria, xenófoba, ofensiva y/o ilegal de cualquier otra parte, ni de las infracciones de los derechos de otros, incluidos los derechos de propiedad intelectual (copyright, marcas, patentes), de propiedad industrial y las informaciones confidenciales, si bien proporcionará medios para evitar estos problemas en la medida de sus posibilidades.</p>

      <p>No existe obligación alguna por parte de Confieselo.com de supervisar los servicios de comunicación, reservándose el derecho a revisarlos, eliminarlos o modificarlos a su entera y total discreción. Tampoco existe la obligación de mantener ningún contenido en sus páginas, ni de reenviar ningún mensaje no leído o no enviado ni a usted ni a un tercero.</p>

      <p>Confieselo.com no es responsable de los fallos que se produzcan en las comunicaciones (incluido el borrado), ni de eventuales interrupciones o retrasos en la prestación del servicio y en especial los referentes a espacio temporal, seguridad y presencia de errores. Tampoco si ello es debido a labores de mantenimiento, a incidencias que afecten a los operadores o a que los equipos del usuario tengan una configuración defectuosa o una insuficiente capacidad. No garantiza, por tanto, la disponibilidad y continuidad del funcionamiento de las páginas y de los servicios. Se comunicará, cuando ello sea razonablemente posible, cualquier alteración del servicio y cualquier posibilidad de que se produzcan daños.</p>

      <p>Asimismo, Confieselo.com excluye toda responsabilidad por los daños, perjuicios o pérdidas de toda naturaleza que pudieran deberse al conocimiento que puedan tener terceros no autorizados de la clase, condiciones, características y circunstancias del uso que los usuarios hacen de las páginas y de los servicios, incluyendo los ocasionados por el uso por terceros de su número y clave. No obstante, Confieselo.com sí podrá hacerle responsable de los daños, perjuicios o pérdidas que le cause el uso no autorizado por un tercero de su número o clave.</p>
    </li>
      <li><strong>Publicidad</strong>

        <p>Confieselo.com usa la cookie de DoubleClick en los anuncios publicados en los sitios web de sus socios, como, por ejemplo, los sitios web que muestran anuncios AdSense o participan en las redes publicitarias certificadas de Google. Cuando un usuario accede al sitio web de un socio y ve un anuncio o hace click en él, es posible que se introduzca una cookie en su navegador.</p>

        <p>Los proveedoes de terceros, incluido Google, utilizan cookies para publicar anuncios en el sitio web basándose en las visitas que el usuario realice.</p>

        <p>El uso de la cookie de DoubleClick permite a Google y a sus socios publicar anunios basados en las visitas que los usuarios realizan en sus sitios o en otros sitios de Internet.</p>

        <p>Los usuarios pueden inhabilitar el uso de la cookie de DoubleClick para la publicidad basada en intereses. También pueden dejar de utilizar las cookies de un tercero, las cuales les permiten ver publicidad basada en intereses. Para ello deberán visitar aboutads.info.</p>

        <p>También pueden ser utilizadas otras cookies de terceros, además de la mencionada de DoubleClick.</p>
      </li>
        <li><strong>Contenidos</strong>

          <p>Confieselo.com informa que Las Páginas y su contenido puede, en algún momento, llegar a contener texto no apto para menores o personas sensibles, y ante la posibilidad de surgir cualesquiera perjuicios con estos usuarios, siempre y en todos los casos, se considerará responsables a sus padres o personas que tengan la tutela del usuario, o a él mismo.</p>

          <p>Confieselo.com no se responsabiliza de la idoneidad, fiabilidad, exactitud, disponibilidad, utilidad y de la ausencia de virus en cualquier información, software, productos, servicios y gráficos que forman las páginas de Confieselo.com. Tampoco se responsabiliza de aquellos contenidos, materiales y/o datos conseguidos a través de la utilización de los servicios de estas páginas, ya que pueden existir errores tipográficos o inexactitudes, ni por el acceso a otros materiales en Internet a través de conexiones con las páginas de Confieselo.com.</p>

          <p>Confieselo.com excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que pudieran deberse a la utilización de los servicios y de los contenidos por parte de los usuarios o que puedan deberse a la falta de veracidad, vigencia, exhaustividad y/o autenticidad de la información que los usuarios proporcionan a otros usuarios acerca de sí mismos y, en particular, aunque no de forma exclusiva, por los daños y perjuicios de toda naturaleza que puedan deberse a la suplantación de la personalidad de un tercero efectuada por un usuario en cualquier clase de comunicación realizada a través de las páginas de Confieselo.com.</p>

          <p>Confieselo.com no se responsabiliza bajo ninguna circunstancia de las opiniones ofrecidas por usuarios anónimos que participan en Confieselo.com. De ningún modo se responsabilizará, además, de consejo alguno, ayuda, opinión, y/o comentario procedente de los usuarios anónimos que intervienen en la web, pues Confieselo.com no avala el conocimiento de estos usuarios que intervienen en Las Páginas.</p>

          <p>Al acceder a las páginas de Confieselo.com se acepta que Confieselo.com no será responsable de ninguna pérdida (directa o indirecta) derivada del uso de la información y de las materias contenidas en las páginas de Confieselo.com o por el acceso a otras materias en Internet a través de conexiones con las páginas de Confieselo.com.</p>

          <p>Confieselo.com excluye cualquier tipo de garantía a los productos, bienes o servicios adquiridos a empresas que prestan sus servicios o comercializan sus productos a través de las páginas de Confieselo.com, incluyendo su calidad o idoneidad para su uso. Se entiende que el usuario contrata directamente con ellas (incluidas entrega, pago, condición y garantía). El usuario no podrá entablar ningún tipo de reclamación a Confieselo.com tendente al resarcimiento de los daños ocasionados por dichos productos, bienes y/o servicios.</p>

          <p>Confieselo.com no se responsabiliza de la información introducida en las páginas de Confieselo.com por los usuarios de Confieselo.com, si bien, en la medida de lo posible, pondrá los medios necesarios para que dichos contenidos sean acordes con la legislación vigente.</p>

          <p>Confieselo.com podrá modificar y utilizar cualquier contenido recibido por parte de sus usuarios de cualquier manera, y en cualquier medio.</p>

          <p>Confieselo.com no comparte ideologías discriminatorias de ningún tipo, ya sea, aunque no únicamente, racismo, xenofobia, religión, discriminación sexual o por conductas sexuales, discriminación por defectos físicos o mentales y otras formas de intolerancia, así como no apoya a ninguna clase de agrupación que defienda las mencionadas ideologías y similares, ni grupos terroristas, ni asociaciones que atenten, físicamente o de cualquier otra manera, contra menores de edad, el derecho a la vida y el respeto a las personas.</p>

          <p>Cualquier información en las páginas de Confieselo.com elaborada por los responsables de la misma, y no por terceros, que refleje algún tipo de discriminación habrá sido incluida exclusivamente a modo de diversión, y así quedará patente implícitamente en su contenido. No obstante, en el caso de que alguna persona física o jurídica considere inadecuado determinado contenido, por ofensivo y/o discriminatorio, podrá comunicarlo a Confieselo.com y, si se considera causa justificada para ello, Confieselo.com se compromete a eliminar dicho contenido de sus páginas y mencionar el hecho públicamente junto a las disculpas pertinentes. No es intención de Confieselo.com atentar contra ninguna persona ni sector.</p>
        </li>
          <li><strong>Hiperenlaces</strong>

            <p>Todos aquellos hiperenlaces que pudieran aparecer en las páginas de Confieselo.com no son responsabilidad de Confieselo.com. Los sitios vinculados no están bajo control de Confieselo.com y su inclusión no implica aprobación ni asociación con ellos. Confieselo.com informa de su existencia, pero en ningún caso recomienda ni favorece el uso de ninguno de ellos.</p>

            <p>Confieselo.com no garantiza ni asume ningún tipo de responsabilidad por los daños y perjuicios de toda clase que puedan deberse a:</p>
    <ol>
    <li> el funcionamiento, disponibilidad, accesibilidad o continuidad de los sitios enlazados;</li>
      <li> el mantenimiento de la información, contenidos y servicios, existentes en los sitios enlazados;</li>
      <li> la prestación o transmisión de la información, contenidos y servicios existentes en los sitios enlazados;</li>
      <li> la calidad, licitud, fiabilidad y utilidad de la información contenidos y servicios existentes en los sitios enlazados.</li>
    </ol>
          </li>
          <li><strong>Daños y perjuicios</strong>

            <p>Más específicamente, Confieselo.com excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a los servicios prestados por terceros a través de las páginas de Confieselo.com y, en particular, aunque no de modo exclusivo, por los daños y perjuicios que puedan deberse:</p>

            <ol>
            <li> el incumplimiento de la ley, la moral y las buenas costumbres generalmente aceptadas o el orden público como consecuencia de la prestación de servicios por terceros a través de las páginas de Confieselo.com;</li>
              <li> la infracción de los derechos de propiedad intelectual e industrial, de los secretos empresariales, de compromisos contractuales de cualquier clase, de los derechos al honor, a la intimidad personal y familiar y a la imagen de las personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un tercero como consecuencia de la prestación de servicios por terceros a través de las páginas de Confieselo.com;</li>
              <li> la realización de actos de competencia desleal y publicidad ilícita como consecuencia de la prestación de servicios por terceros a través de las páginas de Confieselo.com;</li>
              <li> la falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los contenidos transmitidos, difundidos, almacenados, recibidos, obtenidos, puestos a disposición o accesibles mediante los servicios prestados por terceros a través de las páginas de Confieselo.com;</li>
              <li> la inadecuación para cualquier clase de propósito de y la defraudación de las expectativas generadas por los servicios prestados por terceros a través de las páginas de Confieselo.com;</li>
              <li> el incumplimiento, retraso en el cumplimiento, cumplimiento defectuoso o terminación por cualquier causa de las obligaciones contraídas por terceros y contratos realizados con terceros en relación con o con motivo de la prestación de servicios a través de las páginas de Confieselo.com;</li>
              <li> los vicios y defectos de toda clase de los servicios prestados por terceros a través de las páginas de Confieselo.com.</li>
            </ol>
            <p>En ningún caso, Confieselo.com será responsable por daños directos, indirectos, punitivos, fortuitos, especiales, derivativos, o de cualquier otro tipo, incluyendo entre otros, daños por pérdida de uso, de datos o de beneficios, que se deriven o estén relacionados con el uso o rendimiento de los sitios y servicios de Confieselo.com, con la demora o la imposibilidad de poder usar los sitios y servicios de Confieselo.com o los servicios relacionados con la prestación o no prestación de servicios, o con cualesquiera información, software, productos, servicios y gráficos relacionados que sean obtenidos a través de los sitios o servicios de Confieselo.com, o que de otra forma se originen en el uso de los sitios y servicios de Confieselo.com, tanto si su base es contractual, extracontractual, por negligencia, por responsabilidad objetiva o de otra forma, aun en el caso de que se hubiera informado a Confieselo.com o a cualquiera de sus proveedores de la posible ocurrencia de dichos daños, debido a que algunos estados o jurisdicciones no permiten la exclusión o limitación de la responsabilidad por daños derivativos o incidentales, la limitación anterior puede no serle aplicable.</p>

            <p>Si no está satisfecho con parte del contenido de los sitios o servicios de Confieselo.com o con alguna de estas condiciones de uso, su único y exclusivo recurso será dejar de utilizar los sitios y servicios de Confieselo.com.</p>

            <p>Confieselo.com tampoco responde ni por daño emergente ni por lucro cesante por los posibles perjuicios derivados del uso de la información y contenidos de las páginas de Confieselo.com o en otros a los que se haya accedido a través de éstas.</p>
          </li>
            <li><strong>Reclamaciones</strong>

    <p>Se acepta la imposibilidad de los usuarios o de terceras personas de formular reclamación alguna contra Confieselo.com por cualquier daño, directo o indirecto, ocasionado por el uso indebido de los servicios o por la imposibilidad de uso por causa de fuerza mayor, caso fortuito o cualquier otro no imputable a Confieselo.com, ni por la pérdida del número o de la clave establecida para lugares de acceso no autorizado por el usuario, siempre que dicha pérdida no fuese imputable a Confieselo.com.</p>
    </li>
    </ol>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>