<div class="col-md-4">
  <div class="panel-heading confecion-small-header">
    <h4>
      <a href="<%= URI.join(root_url, confesion_path(confesion)) %>" title="<%= confesion.tittle %>">
        <%= truncate_html(confesion.tittle, length: 40, omission: '...') %>
      </a>
    </h4>
  </div>
  <div class="panel-body confecion-small-body">
    <%= truncate_html(confesion.message, length: 190, omission: '...(continua)').html_safe %>
  </div>
</div>
<hr/>